##TCP
    sendfile on;
    tcp_nopush  on;
    tcp_nodelay on;
    server_tokens off;

##Keepalive##
    keepalive_timeout  15;
    keepalive_requests 100000;

##Gzip
    gzip on;
    gzip_disable "MSIE [1-6]\.";
    gzip_min_length   10240;
    gzip_buffers      32 8k;
    gzip_comp_level 5;
    gzip_proxied    any;
    gzip_types text/plain text/css text/xml application/javascript  application/x-javascript application/xml application/xml+rss application/ecmascript application/json image/svg+xml;

##Buffers##
#buffer sizes#
    client_body_buffer_size 10K;
    client_header_buffer_size 1k;
    client_max_body_size 8m;
#    large_client_header_buffers 2 1k;
    large_client_header_buffers 4 32k;

#timeout#
    client_body_timeout 10;
    client_header_timeout  12;
    send_timeout    10;

##Open File Cache##
    open_file_cache max=20000 inactive=20s;
    open_file_cache_valid 30s;
    open_file_cache_min_uses 2;
    open_file_cache_errors on;

##PHP
    fastcgi_connect_timeout 60;
    fastcgi_send_timeout 180;
    fastcgi_read_timeout 180;
    fastcgi_buffer_size 512k;
    fastcgi_buffers 512 16k;
    fastcgi_busy_buffers_size 512k;
    fastcgi_temp_file_write_size 512k;
    fastcgi_intercept_errors on;	
